

@font-face {
    font-family: 'Metropolis';
    src: url('../webfonts/Metropolis-Medium.woff2') format('woff2'),
        url('../webfonts/Metropolis-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url('../webfonts/Metropolis-Bold.woff2') format('woff2'),
        url('../webfonts/Metropolis-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

